<% layout("/layouts/boilerplate")%>

<div class="row-error">
    <div class="alert alert-danger col-md-8 mt-3 offset-2" role="alert">
        <p><%= statusCode %></p>
        <p><%= message %></p>
        <h4>This link seems broken</h4>
        <p>Please return back to  <a href="/listings">Home</a> </p>
      </div>
</div>